body{
	backgroung: url ("/Progress/Web 1920 – 1.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: fixed;
}

h1{
/*	margin-top: 80px;
	margin-left: 107px;*/
	/*width: 594px;
	height: 104px;*/
	position: absolute;
	left: 60px;
	top: 23px;
	font-size: 60px;
	text-align: left;
	font-family: Rockwell;
	letter-spacing: 0;
	color: #FFFFFF;
	opacity: 1;
}

img{
/*	margin-top: -180px;
	margin-left: 1130px;*/
	width: 180px;
	height: 80px;
/*	background: transparent url('img/Pesona indonesia.png') 0% 0% no-repeat padding-box;
	opacity: 1;*/
	position: absolute;
	right: 70px;
	top: 70px;

}

h2{
	margin-top: 290px;
	left: 635px;
	font-size: 75px;
	/*position: center;*/
	text-align: center;
/*	width: 651px;
	height: 207px;*/
	/*text-align: left;*/
	font: Regular 170px/207px Impact;
	letter-spacing: 0;
	color: #FFFFFF;
	opacity: 1;
}

.button{
	position: absolute;
	top: 375px;
	right: 0;
	left: 635px;
	width: 100px;
	height: 100px;
/*	background: transparent url('img/Next.png') 0% 0% no-repeat padding-box;
	opacity: 1;*/
}
